root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4 ; helps to discourage excessive nesting

; Golang and Makefile
[{*.go,Makefile}]
indent_style = tab
indent_size = 4

; JSON, Markdown, and YAML (and similar)
[*.{json,yml,yaml,babelrc,eslintrc,eslintrc.json,gqlconfig,md,markdown}]
indent_size = 2
